* {
  margin: 0 ;
  padding: 0;
  text-align: center;
  list-style: none;
}
.headings {
  margin-top: 2rem;
  color: green;
  font-size: 1.5rem;
}
header {
  text-align: center;
  background-color: white;
  padding: 10px;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.10), 0px 1px 2px 0px rgba(0,0,0,0.06);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  color: green;
}
nav ul li {
  display: inline-block;
  margin: 10px;
  color: green;
  font-size: 1.3rem;
}
.recipeList  {
  padding: 10px 20px;
  margin: 10px 20px;
}
.recipeList h2 {
  text-align: center;
  color: green;
  margin-bottom: 20px ;
  font-size: 2rem;
}
.searchField .searchIcon {
  vertical-align: middle;
  border: none;
  background: transparent;
  margin: 20px;
}
.searchField {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.10), 0px 1px 2px 0px rgba(0,0,0,0.06);    
  height: 50px;
  border-radius: 6px;
  padding: 40px;
  margin: 40px; 
}
#searchInput {
  padding: 20px;
  flex-grow: 1;
  min-width: 200px;
  max-width: 500px; 
  border: 1px solid black;
  border-radius: 5px;
  align-items: center;
}
#searchInput::placeholder {
  text-align: center;
}
.search-btn {
  background: black;
  color: white;
  border: "none";
  border-radius: 10px;
  padding: 5px 5px;
  width: 100px;
}
.recipe-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 26px 0px 15px 0px;
}
.recipes {
  border: 1px solid black;
  width: 300px;
  border-radius: 3px;
}
.recipes a {
  color: green;
}
.recipes a:hover{
  text-decoration: underline;
}
.recipes img {
  width: 298px;
  object-fit: fill;
  transition: 3ms ease-in-out;
}
.recipes .others {
  padding: 20px;
}
.others button {
  background: transparent;
  border: none;
  cursor: pointer;
}
.others .favorite {
  width: 50px;
}
.add {
  color: green;
  margin-top: 20px;
}
.addRecipes-Section {
  margin: 15px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.10), 0px 1px 2px 0px rgba(0,0,0,0.06);    
  border-radius: 10px;
}
input, fieldset {
  border-radius: 7px;
  padding: 10px;
  flex-grow: 1;
  min-width: 300px;
  max-width: 400px; 
  border: 1px solid black;
}
form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
legend {
  font-weight:800;
}
label {
  font-weight: 600;
}
.Submit-btn {
  margin-top: 20px;
  padding: 20px;
  background-color: green;
  color: white;
  border: 1px solid white;
  border-radius: 7px;
  cursor: pointer;
  font-size: 1rem;
}
.Submit-btn::after {
  content: "+";
  margin: 8px;
}
.details-container {
  font-size: 1.3rem;
}
.details-container h6 {
  font-size: 1.3rem;
  margin: 1rem;
}
.details-container img {
  max-width: 700px; 
}
.voting-poll {
  margin: 1rem;
} 
.voting-poll button {
  margin: 1rem;
}
button .Icons-img {
  width: 50px;
  border: none;
}
@media screen and (max-width: 478px) {
  nav ul li {
    display: block;
  }
  .details-container img {
    max-width: 300px; 
  }
}